
# Binaries
*.aax
activation.blob
chromedriver

# Secrets
password.txt
audible-activator-feature_login_as_arg/
!.secrets/
.secrets/*
!.secrets/*.sample

# Installed / cloned apps
AAXtoMP3-master
audible-activator-master/

# Python stuff
env/
*pyc

# Temp stuff / Workfiles
*log
old/
output_books/
converted_books/
source_books/
